<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="vanleer.android.aeon"
      android:versionCode="17"
      android:versionName="0.3.7">
    <uses-sdk android:minSdkVersion="10" android:targetSdkVersion="10" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />    
    <application android:icon="@drawable/arrive_launcher" android:label="@string/app_name" android:vmSafeMode="true" android:allowBackup="false">
        <uses-library android:name="com.google.android.maps" />
        <activity android:name=".Itinerary"
            	  android:icon="@drawable/arrive_launcher"
                  android:label="@string/app_name"
                  android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- activity android:name=".Itinerary" android:label="@string/itinerary_title"  android:configChanges="orientation" /-->
        <activity android:name=".PlacesSearchActivity" android:label="@string/add_destination_title" android:configChanges="orientation" />
        <activity android:name=".DestinationScheduleActivity" android:label="@string/destination_schedule_title" android:configChanges="orientation" />
        <activity android:name=".DepartureAlarm" android:configChanges="orientation" />
        <service android:name=".DepartureReminder" />
        <receiver android:name="AeonBroadcastReceiver">
            <intent-filter>
                <action android:name="vanleer.android.aeon.delay_departure" />
            </intent-filter>
        </receiver>
        <meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyB1tUOl_uSnOhbfztoaUhMdStYd1R3U3ys"/>
    </application>
    
</manifest>